<form action="/data" method = "POST">
    <p>Age <input type = "text" name = "Age" /></p>
    <p>Workclass 
    <select id="Workclass" name="Workclass">
        <option value="Private">Private</option>
        <option value="Self-emp-inc">Self-emp-inc</option>
        <option value="Self-emp-not-inc">Self-emp-not-inc</option>
        <option value="Federal-gov">Federal-gov</option>
        <option value="Local-gov">Local-gov</option>
        <option value="State-gov">State-gov</option>
        <option value="Without-pay">Without-pay</option>
        <option value="Never-worked">Never-worked</option>
        <option value="?">Unknown</option>
    </select>
    </p>
    <p>Marital Status 
        <select id="marital_status" name="marital_status">
            <option value="Widowed">Widowed</option>
            <option value="Divorced">Divorced</option>
            <option value="Separated">Separated</option>
            <option value="Never-married">Never-married</option>
            <option value="Married-AF-spouse">Married-AF-spouse</option>
            <option value="Married-civ-spouse">Married-civ-spouse</option>
            <option value="Married-spouse-absent">Married-spouse-absent</option>
        </select>
        </p>
    <p>Education_Num (1-16)<input type = "text" name = "education_num" /></p>
    <p>Occupation 
        <select id="Occupation" name="Occupation">
            <option value="Sales">Sales</option>
            <option value="Adm-clerical">Adm-clerical</option>
            <option value="Craft-repair">Craft-repair</option>
            <option value="Tech-support">Tech-support</option>
            <option value="Other-service">Other-service</option>
            <option value="Prof-specialty">Prof-specialty</option>
            <option value="Exec-managerial">Exec-managerial</option>
            <option value="Farming-fishing">Farming-fishing</option>
            <option value="Priv-house-serv">Priv-house-serv</option>
            <option value="Protective-serv">Protective-serv</option>
            <option value="Transport-moving">Transport-moving</option>
            <option value="Handlers-cleaners">Handlers-cleaners</option>
            <option value="Machine-op-inspct">Machine-op-inspct</option>
            <option value="Armed-Forces">Armed-Forces</option>
            <option value="?">Unknown</option>
        </select>
        </p>
    <p>Hours_Per_Week (1-99)<input type = "text" name = "hours_per_week" /></p>
    <p>Click the button below to submit your input and get the prediction for income</p>
    <p><input type = "submit" value = "Submit" /></p>
</form>